.section.light-text {

  blockquote {

  color: #fff;

  }

  #testimonials-carousel .carousel-control-wrap {

    a .glyphicon {

      color: #fff;

    }

  }

}

.section.dark-text blockquote {

  blockquote {

  color: $dark-grey;

  }

  #testimonials-carousel .carousel-control-wrap {

    a .fa {

      color: $dark-grey;

    }

  }

}
